body{
  background-color: rgb(142, 195, 241);
}
.card {
  background-color:white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 5px 0;
  }
  img{
    display:none;
  }
  h1{
    color:rgb(221, 150, 37);
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
  }
 
 
#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
    flex: 1;
}
#temperature,
#description,
#fl,
#humidity,
#wind {
    margin-bottom: 10px;
}
.images-container {
    display: flex;
    flex-direction: column;
}
img {
    width: 100px;
    height: auto;
}   
  